
/* BEM examples */
.calculator__input {};
.validator__img {};
.validator__img__click{};
.calculator-left-details{};

/* ============================= */

table {
    width: 80%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    
}
table, th, td {
    border-radius: 25px;
    border: 1px dotted gray;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    border-radius: 25px;
}

th {
    font-family: "lucida console", Monaco, monospace;
    font-size: 1em;
    background-color silver;
    border-radius: 25px;
}
/* bem oefening */
.left-vakken{
    font-family: "Courier New", Courier, monospace;
    font-size: 1e,;
    border-radius: 25px;

}
/* modifyer */
.calculator_left-vakken__studiepunten, 
.calculator_left-vakken-totaal{
    color: blue;
}
/* ------------------ */

.calculator__validator-img  {
    border-radius: 25px;
}

body {
    background-color:  #A41E1E;
}

.calculator {
    background-color:  white;
}